.lefty {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.comment-section {
  background: white;
  margin-top: 10px;
  width: 80%;
  padding: 20px;
  border-radius: 9px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
