.lefty {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.comment-section {
  background: white;
  margin-top: 10px;
  width: 93vh;
  padding: 20px;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "Open-sans", sans-serif;
  font-weight: normal;
  font-size: 29px;
  color: #0d5842;
  display: flex;
  justify-content: center;
}
